<div class="form-signin">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <h2 class="text-center form-signin-heading">Edit profile</h2>
        <%= devise_error_messages! %>
        <%= f.label :email, class:"sr-only" %>
        <%= f.email_field :email, class: "form-control", autofocus: true %>
        <%= f.label :password, class:"sr-only" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
        <%= f.label :password_confirmation, class:"sr-only" %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", autocomplete: "off" %>
        <span class="help-block">(leave blank if you don't want to change it)</span></br>
        <%= f.label :phone_number, class:"sr-only" %>
        <%= f.text_field :phone_number, placeholder: "Phone number", class: "form-control" %>
        <%= f.label :address, class:"sr-only" %>
        <%= f.text_field :address, placeholder: "Address", class: "form-control" %>
        <%= f.label :city, class:"sr-only" %>
        <%= f.text_field :city, placeholder: "City", class: "form-control" %>
        <%= f.label :state, class:"sr-only" %>
        <%= f.text_field :state, placeholder: "State", class: "form-control" %>
        <%= f.label :country, class:"sr-only" %>
        <%= f.text_field :country, placeholder: "Country", class: "form-control" %>
        </br>
        <div class="row">
          <div class="col-xs-6">
            <%= f.submit "Update", class: "btn btn-lg btn-success btn-block" %>
          </div>
          <div class="col-xs-6">
            <%= link_to "Back", :back, :class => "btn btn-lg btn-default btn-block" %>
          </div>
        </div>
      <% end %>
      <div class="row or-divider"></div>
      <%= button_to "Delete my account", registration_path(resource_name), class: "btn btn-lg btn-danger btn-block", data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>
</div>
