<div class="form-signin">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <h2 class="text-center form-signin-heading">Sign up</h2>
        <%= f.label :email, class:"sr-only" %>
        <%= f.email_field :email, class: "form-control", placeholder: "Email address", autofocus: true %>
        <%= f.label :password, class:"sr-only" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
        <%= f.label :password_confirmation, class:"sr-only" %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", autocomplete: "off" %>
        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-lg btn-success btn-block" %>
        </div>
      <% end %>
      <div class="row or-divider">
        <span>OR</span>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
