<div class="container">
  <%= form_for(current_user, :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f| %>
    <% if @show_errors && current_user.errors.any? %>
      <div id="error_explanation">
        <% current_user.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      </div>
    <% end %>
    <% @form_fields.each do |field|%>
      <div class="form-group">
        <%= f.label field.to_sym %>
        <div class="controls">
          <%= f.text_field field.to_sym, :value => '', class: 'form-control input-lg' %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-6">
        <%= f.submit 'Save', :class => 'btn btn-lg btn-success btn-block' %>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Do it later', home_path, class: 'btn btn-lg btn-default btn-block' %>
      </div>
    </div>
  <% end %>
</div>
