<div class="form-signin">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h2 class="text-center form-signin-heading">Log in</h2>
        <%= f.label :email, class:"sr-only" %>
        <%= f.email_field :email, class: "form-control", placeholder: "Email address", autofocus: true %>
        <%= f.label :password, class:"sr-only" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
        <div class="actions">
            <%= f.submit "Log in", class: "btn btn-lg btn-success btn-block" %>
        </div>
      <% end %>
      <div class="row or-divider">
        <span>OR</span>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
